/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

#weather-container {
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

h1 {
    color: #333;
}

#temperature p {
    font-size: 48px;
    font-weight: bold;
}

#weather-icon {
    width: 100px;
    margin-top: 20px;
}

#country-time, #country-date {
    font-size: 16px;
    color: #333;
}
h1{color: green;}